<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!-- meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" THIS META IS DEFINED IN .ACCESS -->
        <title>{% block meta_title %}{{'LaborAutonomo.org - Espaço laboratorial para desenvolvimento web'|trans}}{% endblock %} &raquo; LaborAutonomo</title>
        <meta name="keywords" content="{% block meta_keywords %}laborautonomo, php, HTML5, CSS3, backend, freelancer, freela, javascript, framework, open source , {{'software livre'|trans}}, {{'espaço laboratorial'|trans}}, {{'laboratório web'|trans}}, {{'desenvolvimento web'|trans}} {% endblock %}">
        <meta name="description" content="{% block meta_description %}{{'LaborAutonomo.org - Espaço laboratorial para desenvolvimento web'|trans}}{% endblock %}">
        <meta name="author" content="LaborAutonomo">
        <meta name="robots" content="index,follow">
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" href="img/favicon.png" />
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        
        <script src="js/vendor/jquery-1.9.1.min.js"></script>
        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        
        {% block head %} {% endblock %}
    </head>
    <body>
        <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
        {# 
            ######## MENU ##########
        #}
        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title"><a href="/" title='homepage'>LaborAutonomo.org</a></h1>
                <nav>
                    <ul>
                        <li><a href="{{'sobre'|trans}}">{{'Sobre'|trans}}</a></li>
                        <li><a href="blog">Blog</a></li>
                        <li><a href="{{'contato'|trans}}">{{'Contato'|trans}}</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
                
                {# 
                    ######## MAIN ARTICLE ##########
                #}
                <article class="main-article">
                    {% for type, flashMessage in app.session.flashbag.all() %}
                    <div class="flash-message {{ type }}"> <p>{{ flashMessage[0] }}</p> </div>
                    {% endfor %}
                    
                    {% block content %}{% endblock %}
                </article>
                
                
                {# 
                    ######## ASIDE TO PROJECTS ##########
                #}
                <aside>
                    <h3>{{'Projetos'|trans}}</h3>
                    <p>
                        {{'Logo mais publicaremos aqui todos os projetos, testes e experimentos desenvolvidos pelo LaborAutonomo.'|trans}}
                    </p>
                    <p>
                        {{'Por enquanto '|trans}} <a href='http://github.com/laborautonomo' target="_blank">Fork me on GitHub!</a>
                    </p>
                </aside>

            </div>
            <!-- #main -->
        </div>
        <!-- #main-container -->
        
        
        {# 
            ######## FOOTER ##########
        #}
        <div class="footer-container">
            <footer class="wrapper">
                <p>
                    
                    {{"Este site utiliza"|trans}} 
                    <a href="http://silex.sensiolabs.org/" target='_blank'>Silex Microframework</a>
                    {{' e '|trans}}
                    HTML5 <a href='http://html5boilerplate.com/' target='_blank'>Boilerplate</a> responsive template.
                    
                    &nbsp;&nbsp;&nbsp;
                    <a href="http://validator.w3.org/check?uri=http%3A%2F%2Flaborautonomo.org%2F;ss=1;st=1;outline=1;No200=1;verbose=1" title="{{'HTML5 válido!'|trans}}" class="html5-validator" target="_blank">&nbsp;</a>
                    
                    &nbsp;&nbsp;&nbsp;
                    <a href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank">
                        <img class="css-validator" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="{{'CSS válido!'|trans}}" />
                    </a>
                </p>
                <small>
                    Copyleft 
                    <!--[if lte IE 8]><span style="filter: FlipH; -ms-filter: "FlipH"; display: inline-block;"><![endif]-->
                    <span class='copyleft'>
                        &copy;
                    </span>
                    <!--[if lte IE 8]></span><![endif]-->
                    {{ "now"|date("Y") }} 
                    &nbsp; - &nbsp;
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/br/deed.pt_BR" target="_blank"><img alt="Licença Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/br/80x15.png" /></a>
                    &nbsp; - &nbsp; 
                    {{"O conteúdo e os projetos aqui publicados estão livres para cópia, uso e distribuição."|trans}}
                </small>
            </footer>
        </div>

        <script src="js/main.js"></script>
    </body>
</html>