/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.main-article form{
    line-height: 40px;
}

.main-article form input, 
.main-article form textarea{
    width:80%;
}

.main-article form button{
    font-size:14px;
    height:35px;
}

/* FHASH MESSAGES */
.flash-message {
    background: #1F1F1F;
    background: rgba(0,0,0,.9);
    padding: 1px 12px;
    border-radius: 15px;
    color: #FFF;
    text-shadow: -1px -1px 0 rgba(0,0,0,.5);
    font-size: 15px;
    -webkit-box-shadow: 0 5px 10px #aaa;   
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;

}
.flash-message.error {
    background: #FE1A00;
    background: rgba(254,26,0,.85);
}
.flash-message.success {
    background: #5CB811;
    background: rgba(92,184,17,.85);
}

.copyleft{
    -moz-transform: scaleX(-1); 
    -o-transform: scaleX(-1); 
    -webkit-transform: scaleX(-1); 
    transform: scaleX(-1); 
    display: inline-block;
}

.main-article .ico{
    margin: 0 8%;
    color:#333;
    min-height: 20px;
    background-repeat: no-repeat;
    background-position: left center;
    padding:0 0 0 25px;
}
.main-article .ico.github{
    background-image: url('../img/ico-github.png');
}
.main-article .ico.mail{
    background-image: url('../img/ico-mail.png');
}

.css-validator{
    border:0;
    width:75px;
    height:23px;
}

.html5-validator{
    background-image: url('../img/ico-html5.png');
    width:24px;
    height:24px;
    display: inline-block;
}
.html5-validator:hover{
    background-position: left bottom;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

body a{
    text-decoration: none;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.main-article a {
    color:#0000FF;
}

.footer-container a {
    color:#8F64D3;
}

.footer-container p {
    margin: 0;
}

aside a{
    color:#1A4F1A;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #8AD03E;
}

.footer-container{
    border-top: 20px solid #8AD03E;
}

.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container{
    background: #333;
}

.main aside {
    background: #f16529;
}

.title {
    color: white;
}

.title a {
    color: white;
    text-decoration: none;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
    margin-top:20px;
}

.footer-container footer {
    color: white;
    padding: 9px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 17px 1.7% 0;
        padding: 0 2%;
        margin-bottom: 0;
        
        -webkit-border-top-left-radius: 8px;
        -webkit-border-top-right-radius: 8px;
        -moz-border-radius-topleft: 8px;
        -moz-border-radius-topright: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    
    nav a:hover,
    nav a:visited {
        color: white;
        margin: 11px 1.7% 0;
        padding: 3px 2%;
    }
    
    nav a:hover {
        text-decoration: none;
        background-color: #8AD03E;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
    
    .main aside{ margin-top:20px;}

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        margin-top:0px;
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }
    
    nav a {
        margin: 43px 1.7% 0;
        padding: 0 2%;
    }
    
    nav a:hover,
    nav a:visited {
        margin: 37px 1.7% 0;
        padding: 3px 2%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    /*zoom: 1;*/
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    /*@page {
        margin: 0.5cm;
    }*/

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}