<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block meta_title %}{{'LaborAutonomo.org - Espaço laboratorial para desenvolvimento web'|trans}}{% endblock %} &raquo; LaborAutonomo</title>
        <meta name="keywords" content="{% block meta_keywords %}laborautonomo, php, HTML5, CSS3, backend, freelancer, freela, javascript, framework, open source , {{'software livre'|trans}}, {{'espaço laboratorial'|trans}}, {{'laboratório web'|trans}}, {{'desenvolvimento web'|trans}} {% endblock %}">
        <meta name="description" content="{% block meta_description %}{{'LaborAutonomo.org - Espaço laboratorial para desenvolvimento web'|trans}}{% endblock %}">
        <meta name="author" content="LaborAutonomo">
        <meta name="robots" content="index,follow">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        
        {% block head %} {% endblock %}
    </head>
    <body>
        <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title"><a href="/">LaborAutonomo.org</a> - {{'espaço laboratorial para desenvolvimento web'|trans}}</h1>
                <nav>
                    <ul>
                        <li><a href="{{'projetos'|trans}}">{{'Projetos'|trans}}</a></li>
                        <li><a href="blog">Blog</a></li>
                        <li><a href="{{'contato'|trans}}">{{'Contato'|trans}}</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

                <article>
                    <header>
                        {% block content %}{% endblock %}
                    </header>
                </article>

                <aside>
                    <h3>aside</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.
                    </p>
                </aside>

            </div>
            <!-- #main -->
        </div>
        <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>Copyleft 2013 - Livre para uso e distribuição dos projetos aqui publicados</h3>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')
        </script>

        <script src="js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>